<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../paginas de estilo/Style.css">
    <link rel="stylesheet" href="../paginas de estilo/login_registro.css">
</head>
<body>

    <!--Barra de navegacion-->
    <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom border-danger">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="../Index.html"><img src="../Imagenes/logo_chaos.png" alt="Logo" width="50" height="50"></a>
        
        <div class="row">
            <div class="col-10">
                <div class="collapse navbar-collapse col-1" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="../Index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="Internacional.html">Internacional</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="Deportes.html">Deportes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="regiones.html">Regiones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="tendencias.html">Tendencias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="Tienda.html">Tienda</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2 ml-auto ini">
            <a href="login.html">
            <img src="../Imagenes/perfil.png" alt="Iniciar sesión" width="50" height="50">
            </a>
        </div>
    </nav>

    <main>
        <div class="marco-registrarse">
            <form>
             <h2>Registrarse</h2>
                <input type="text" placeholder="Nombre completo" id="nombre">
                <input type="text" placeholder="Correo electrónico" id="correo">
                <input type="text" placeholder="Nombre usuario" id="usuario">
                <input type="text" placeholder="Contraseña" id="contraseña">
                <div class="link">
                    <a href="./login.html">Volver al login</a>
                </div>
                <div class="boton">
                    <button type="button" onclick="guardar_datos()">Registrarse</button>
                </div>
            </form>
        </div>
    </main>

     <!-- Pie de página -->
     <footer class="pie text-center py-3">
        <div class="enlaces">
            <a href="https://es-la.facebook.com/" target="_blank"><img src="../Imagenes/facebook.png" alt="facebook logo" width="50" height="50"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../Imagenes/Instagram.webp" alt="facebook logo" width="50" height="50"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="../Imagenes/Youtube.png" alt="youtube logo" width="50" height="50"></a>
            <a href="https://twitter.com/home" target="_blank"><img src="../Imagenes/twitter.png" alt="facebook logo" width="50" height="50"></a>
        </div>
        <img src="../Imagenes/logo_chaos.png" alt="Logo" width="90" height="90">
        <p class="parrafo_footer">Fono: (+56 9) 2077 0666</p>
        <p class="parrafo_footer">Mail: CaosNews@fakemail.net</p>
        <p>© 2023 Colectivo de noticias Caos News. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../javascript/login-registro.js" async></script>
</body>
</html>